/* notch.css */
#bar-window {
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  background-color: black;
  margin: 0;
  padding: 0;
  border: none;
}

#bar-window button {
  padding: 5px 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

window {
  margin: 0;
  padding: 0;
  border: none;
}

#corner-container {
  padding: 0;
  margin: 0;
}

#notch-corner-left,
#notch-corner-right {
  margin: 0;
  padding: 0;
}

#notch-box {
  margin: 0;
  padding: 0;
}
