#notch {
  background-color: transparent;
}

#notch-box {
    margin: 10px;
    transition: all 0.35s cubic-bezier(0.5, 0.25, 0, 1);
}

#notch-content {
    background-color: #000000;
    min-height: 40px;
    margin-right: -4px;
    margin-left: -4px;
    min-width: 256px;
    border-radius: 16px;
    transition: all 0.35s cubic-bezier(0.5, 0.25, 0, 1);
}

#notch-content.expanding {
    transform-origin: top center;
}

#notch-content.dashboard {
    padding: 16px;
    min-height: 480px;
    min-width: 820px;
    border-radius: 36px;
}

#notch-content.notification {
    padding: 16px;
    min-height: 100px;
    min-width: 360px;
    border-radius: 36px;
}

.expanding {
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

#dashboard {
    opacity: 1;
}

#dashboard.open {
    opacity: 1;
}

