#notification-box {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.45, 0.25, 0, 1);
  padding: 0px;
  padding-bottom: 0px;
  border-radius: 8px;
  margin: -800px;
}

#notification-box.open {
  margin: 0px;
}

#notification-view {
  opacity: 1;
  padding: 8px 12px;
}

#notification-app-icon {
  margin-bottom: 8px;
}

#notification-left-side {
  margin-right: 8px;
}

#notification-image {
  border-radius: 4px;
  
}

.notification-title {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 4px;
}

.notification-body {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}

/* Close button styling */
#notification-close-button {
  font-size: 18px;
  font-weight: bold;
  border-radius: 36px;
  padding: 8px;
  background-color: rgba(227, 111, 136, 0.268);
  font-weight: thinner;
}
#notification-close-label{
  color: var(--red-dim);
  font-weight: bold;
}

#notification-close-button:hover {
  background-color: rgba(80, 80, 80, 0.7);
}
.white button {
  color: white;
  margin-bottom: -10px;
}
#notification-image{
  border-radius: 12px;
}
#next-button, #prev-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin: -10px;
}